*{
    margin: 0;
}

body{
    font-family:'Source Sans Pro', sans-serif;
    
}

.navbar{
    width: 100%;
    height: 75px;
    background-color: black;
    font-size: 20px;
}

.navbar-container{
    display: flex;
    align-items: center;
    padding: 0 50px;
    height: 100%;
    color: white;
}

.logo-container{
    flex: 2;
}

.logo{
    font-family: 'DotGothic16', sans-serif;
    font-size: 35px;
    color: rgb(153, 151, 245);
}
.menu-container{
    flex: 6;
}

.menu-list{
    display: flex;
    list-style: none;
    margin: 0 -100;
}

.container {
    background-color: #151515;
    min-height: calc(125vh - 50px);
    color: white;
  }

.menu-list-item{
    margin-right: 30px;
}

.menu-list-item.active{
    font-weight: bold;
}
.profile-container{
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.profile-text-container{
    margin: 0 20px;
}

.profile-picture{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 60px;
}

.content-container{
    margin-left: 50px;
}

.featured-content {
    height: 50vh;
    padding: 50px;
    font-family: 'DotGothic16', sans-serif;
    color: rgb(153, 151, 245);
    font-size: 25px;
    text-align: center;
  }

.movie-list-container{
      padding: 0 20px;
  }

.movie-list-wrapper{
    position: relative;
  }
.movie-list-item{
    margin-right: 30px;
    position: relative;
}

.movie-list-title{
    margin-bottom: 20px;
    font-size: 50;
}

.movie-list-item:hover .movie-list-item-img{
    transform: scale(1.2);
    margin: 0 30;
    opacity: 0.5;
}

.movie-list-item:hover .movie-list-item-description,
.movie-list-item:hover .movie-list-item-desc,
.movie-list-item:hover .movie-list-button{
    transition: all 1s ease-in-out;
    opacity: 100%;

}


.movie-list-item-img {
    transition: all 1s ease-in-out;
    width: 290px;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
  }

.movie-list{
      display: flex;
      align-items: center;
      height: 300px;
  }

  .movie-list-item-description{
    background-color: #333;
    padding: 0 10px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 10px;
    opacity: 0%;
    border-radius: 10px;

  }.movie-list-item-desc{
    background-color: #333;
    padding: 10px;
    font-size: 15px;
    position: absolute;
    top: 27%;
    left: 10px;
    width: 165px;
    opacity: 0%;
    border-radius: 10px;

  }

  .movie-list-button{
      padding: 10 10;
      border-radius: 15px;
      background-color: rgb(194, 193, 253);
      position: absolute;
      top: 80%;
      left: 200px;
      outline: none;
      opacity: 0%;
      cursor:pointer ;
  }

  .arrow{
      font-size: 120px;
      position: absolute;
      top: 92px;
      right: 0;
      color: lightgray;
      opacity: .5;
      cursor: pointer;
  }